.bg-custom {
    background-color: #a3c1ad;
}

.measure-wide {
    max-width: 72em;
}

main.pb7 {
    padding-bottom: 0;
    flex: 1;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}